
<!-- <header   (Navigate)="navigateTo($event)"></header> -->
<app-header></app-header>
    <div class="super_container ">


        <!-- Home -->

        <div class="container-fluid home">

            <!-- Hero Slider -->
            <div class="hero_slider_container">
                <!-- <div class="hero_slider owl-carousel"> -->

                    <!-- Hero Slide -->
                    <!-- <div class="hero_slide">
                        <div class="hero_slide_background" style="background-image:url(assets/images/bg3.jpg)"></div>
                        <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                            <div class="hero_slide_content text-center">
                                <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Get your
                                    <span>Evaluation</span> today!</h1>
                            </div>
                        </div>
                    </div> -->

                    <!-- Hero Slide -->


                    <!-- Hero Slide -->
                    <!-- <div class="hero_slide">
                        <div class="hero_slide_background" style="background-image:url(assets/images/bg1.jpg)"></div>
                        <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                            <div class="hero_slide_content text-center">
                                <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Get your
                                    <span>Evaluation</span> today!</h1>
                            </div>
                        </div>
                    </div> -->

                <!-- </div> -->
                <div class="hero_slide">
                  <div class="hero_slide_background" style="background-image:url(../../../assets/NaaP_svg/clip-library.svg)"></div>
                  <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                      <div class="hero_slide_content text-center">
                          <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Get your
                              <span>Evaluation</span> today!</h1>
                      </div>
                  </div>
              </div>
                <!-- <div class="hero_slider_left hero_slider_nav trans_200"><span class="trans_200">prev</span></div>
                <div class="hero_slider_right hero_slider_nav trans_200"><span class="trans_200">next</span></div> -->
            </div>

        </div>

        <div class="hero_boxes">
            <div class="hero_boxes_inner">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 hero_box_col">
                            <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                                <img src="assets/images/earth-globe.svg" class="svg" alt="">
                                <div class="hero_box_content">
                                    <h2 class="hero_box_title">Online Evaluation</h2>
                                    <a href="courses.html" class="hero_box_link">view more</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 hero_box_col">
                            <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                                <img src="assets/images/books.svg" class="svg" alt="">
                                <div class="hero_box_content">
                                    <h2 class="hero_box_title"> Library</h2>
                                    <a href="courses.html" class="hero_box_link">view more</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 hero_box_col">
                            <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                                <img src="assets/images/ai.svg" class="svg" alt="">
                                <div class="hero_box_content">
                                    <h2 class="hero_box_title">AI Assistance </h2>
                                    <a href="courses.html" class="hero_box_link">view more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Services -->
        <section #features>
        <div class="services page_section" id="features">

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section_title text-center">
                            <h1>Features</h1>
                        </div>
                    </div>
                </div>
                <div class="row services_row">
                    <div
                        class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                        <div class="icon_container d-flex flex-column justify-content-end">
                            <img src="assets/images/earth-globe.svg" alt="">
                        </div>
                        <h3>Online Evaluation</h3>
                        <p> A Registered student can appear for self evaluation as many times as you wish to. Students
                            have facilty to select the chapters on a subject which they want to practice.
                        </p>
                    </div>
                    <div
                        class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                        <div class="icon_container d-flex flex-column justify-content-end">
                            <img src="assets/images/exam.svg" alt="">
                        </div>
                        <h3>Conventional Writing</h3>
                        <p>A Registered student can download the questions based on the chapters on a subject which they
                            want to practice. Submit the answer sheet for evaluation as Microsoft Word or as an Image.
                        </p>
                    </div>
                    <div
                        class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                        <div class="icon_container d-flex flex-column justify-content-end">
                            <img src="assets/images/books.svg" alt="">
                        </div>
                        <h3>Amazing Library</h3>
                        <p> Accumatled large quantity of the questions from text books/past papers/other sources. System
                            understands the childs gradation and provides
                            right mix of questions and time required to solve. This allows the
                            flexibility of evaluation.</p>
                    </div>
                    <div
                        class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                        <div class="icon_container d-flex flex-column justify-content-end">
                            <img src="assets/images/professor.svg" alt="">
                        </div>
                        <h3>Exceptional Teachers</h3>
                        <p>Teachers who are experienced and committed to student's progress have been evaluating the
                            answer sheet. Artificial Intelligence to assist them to manage the load. Every student's
                            answer sheet is reviewd personally before result being given to the students.</p>
                    </div>
                    <div
                        class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                        <div class="icon_container d-flex flex-column justify-content-end">
                            <img src="assets/images/blackboard.svg" alt="">
                        </div>
                        <h3>Personalised Progress View</h3>
                        <p>Every Registered Student shall view their performance subject wise, chapter wise progress.
                            The progress shall be viewed by the subject teacher or parents for the guidance.</p>
                    </div>
                    <div
                        class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                        <div class="icon_container d-flex flex-column justify-content-end">
                            <img src="assets/images/mortarboard.svg" alt="">
                        </div>
                        <h3>Graduate </h3>
                        <p>Finally what matters is that the knowlege evaluation and appreaciation as grades in your
                            final examination, whcih is an entry point to the next level of education.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Popular -->
    </section>
    <section #boards>
        <div class="popular page_section" id="boards">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section_title text-center">
                            <h1>BOARDS</h1>
                        </div>
                    </div>
                </div>
                <div class="row course_boxes">
                    <!-- Popular Course Item -->
                    <div class="col-lg-6 course_box">
                        <div class="card">
                            <img class="card-img-top" src="assets/images/caie.jpeg" alt="">
                            <div class="card-body text-center">
                                <div class="card-title"><a href="javascript:void(0); ">Cambridge Assessment International
                                        Education</a></div>
                                <div class="card-text">A-Level, O-Level, AS-Level, IGCSE, Pre-U etc...</div>
                            </div>
                            <div class="price_box d-flex flex-row align-items-center">
                                <div class="course_author_name align-items-center"><span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


        <!-- Register -->

        <div class="register">

            <div class="container-fluid">

                <div class="row row-eq-height">
                    <div class="col-lg-6 nopadding">

                        <!-- Register -->

                        <div class="register_section d-flex flex-column align-items-center justify-content-center">
                            <div class="register_content text-center">
                                <h1 class="register_title">Register now and get a discount <span>50%</span> discount
                                    until 1 January</h1>
                                <p class="register_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla,
                                    vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor
                                    fermentum. Aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempo.
                                </p>
                                <div class="button button_1 register_button mx-auto trans_200"><a href="#">register
                                        now</a></div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6 nopadding">

                        <!-- Search -->

                        <div class="search_section d-flex flex-column align-items-center justify-content-center">
                            <div class="search_background" style="background-image:url(assets/images/search_background.jpg);">
                            </div>
                            <div class="search_content text-center">
                                <h1 class="search_title">Search for your course</h1>
                                <!-- <form id="search_form" class="search_form" > -->
                                    <input id="search_form_name" class="input_field search_form_name" type="text"
                                        placeholder="Subject Name / Subject Code " required="required"
                                        >
                                    <input id="search_form_category" class="input_field search_form_category"
                                        type="text" placeholder="Board">
                                    <input id="search_form_degree" class="input_field search_form_degree" type="text"
                                        placeholder="Class">
                                    <button id="search_submit_button" type="submit"
                                        class="search_submit_button trans_200" value="Submit">search </button>
                                <!-- </form> -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>







    </div>
